
h1 {
    color: #000000;
}

h1 span {
    color: #037bc0;
}

nav a {
    text-transform: uppercase;
}

.navegacion a{
    text-transform: lowercase;
}

#navegacion a {
    text-transform: capitalize;
}

/* h2 span {
    color: green;
}

section h2 {

} */
/* Pseudo selectores */
/* nav a:nth-child(2) {
    text-transform: uppercase;
    font-size: 50px;
} */
/* nav a:first-child {
    text-transform: uppercase;
    font-size: 50px;
}
nav a:last-child {
    text-transform: uppercase;
    font-size: 50px;
} */

/* nav a:first-of-type {
    text-transform: uppercase;
    font-size: 50px;
} */

.boton {
    background-color: #b41b1b;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: none;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    padding: .7rem 1.8rem;
    border-radius: .3rem;
    font-weight: 700;
    font-size: 1rem;
    transition: .3s;
}

.boton:hover{
    cursor: pointer;
    background-color: #7d0909;
    transition: .3s;
}


/* .boton:hover {
    cursor: pointer;
    background-color: #850505;    
    transition: .3s;
} */